* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'VT323', monospace;
}

body {
    background-color: #4200B4;
}

a {
    color: white;
}

#typedtext2 {
    text-align: center;
}

.top {
    color: #000000;
    background: #00CECD;
    margin-bottom: 2em;
    font-size: 1.5em;
    text-align: center;
    top: 0;
}

.content {
    color: #F4FF6C;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 1em;
}

.bottom {
    background: #00CECD;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    span {
        display: inline-block;
        margin-left: 40px;
        font-size: 1.5em;
        padding: 2px;
        list-style-type: none;
    }
}

.dosFrame {
border: solid 1px white;
height: 70vh;
float: left;
margin: 3px;
padding: 3px;
}

.innerFrame {
    border: solid 1px white;
    min-height: 100%;
    color: white;
    padding: 5px;
    text-align: left;
    p {
        font-size: 1.5em;
    }
}


input.button{
   border:0;
   background: none;
   width: 100%;
   text-align: left;
   font-size: 1.5em;
   color: white;
     }
     input.categories {
         color: #F4FF6C;
     }

    .hoverlist {
       list-style-type: none;

      li.hover{
         background-color: #00CECD;
        input{
          color: black;
            }
         }
     }


.modalFrame {
    border: 2px double black;
    min-height: 100%;
    padding: 5px;
    margin-left: 5px;
    h5 {
        font-size: 2em;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
        font-weight: normal;
    }
    p {
        font-size: 1.5em;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    h6 {
        font-size: 2em;
        text-align: center;
        margin-top: 240px;
        margin-bottom: 20px;
        font-weight: normal;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 5px;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: #000000;
    background: #ACAEAD;
    padding:10px 5px;
    margin: 10px 5px;
    margin-left: -5px;
    height: 70vh;
    box-shadow: 25px 25px 0px 0px #000000;
    text-align: center;
    margin-top: 60px;
    a {
        color: black;
    }
}


.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

}

.row::before, .row::after {
  display: block;
  clear: both;
  content: "";
}

@for $i from 1 to 13 {
  .col-#{$i} {
    width: $i / 12 * 100%;
  }
}

@media (min-width: 576px) {

    @for $i from 1 to 13 {
      .col-sm-#{$i} {
        width: $i / 12 * 100%;
      }
    }

}

@media (min-width: 768px) {

    @for $i from 1 to 13 {
      .col-md-#{$i} {
        width: $i / 12 * 100%;
      }
    }

}

@media (min-width: 992px) {

    @for $i from 1 to 13 {
      .col-lg-#{$i} {
        width: $i / 12 * 100%;
      }
    }

}

@media (min-width: 1200px) {

    @for $i from 1 to 13 {
      .col-xl-#{$i} {
        width: $i / 12 * 100%;
      }
    }
}
